<div class="container homearea">
    <div class="row">
        <h2>Helpers</h2>
        <router-link class="navitem" to="/counter">
            <div class="col areaelem">
                <h3>Counters</h3>
            </div>
        </router-link>
    </div>
</div>
<div class="container homearea">
    <div class="row">
        <h2>Rules</h2>
        <router-link class="navitem" to="/counter">
            <div class="col areaelem">
                <h3>Counters</h3>
            </div>
        </router-link>
    </div>
</div>