.container.counterarea {
    max-width: 95%;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    background-color: rgba(255, 255, 255, 0.116);
    color: black;
    padding: .5rem 1rem;
}

.counterElem {
    border-radius: 5px;
    background-color: white;
    color: #2c3e50;
    margin-bottom: .5rem;
    margin-left: auto;
    margin-right: auto;
    padding: 0 0 .5rem 0;
}

.counterHeader {
    min-width: 100%;
    max-width: 100%;
    min-height: 20px;
    border-radius: 5px 5px 0 0;
    background-color: #42b983;
    padding: 5px;
    margin-bottom: .5rem;
    font-weight: 700;
    text-transform: uppercase;
}